<form action="/home" method="post" class="search">
    <div class="col-auto">
        <input type="search" placeholder="Enter ISBN 10 number" name="searchISBN" class="form-control">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    
</form>