<%- include("partials/header") %>

<div>
    <h2 class="h2">Enter the detail of book that you want to add:</h2>
    <form action="" method="post" class="add">
        <p class="lead"><strong>Name of the book: </strong><input type="text" placeholder="Book Name" name="bookName" class="form-control"></p>
        <p class="lead"><strong>ISBN 10: </strong><input type="text" maxlength="10" placeholder="ISBN 10" name="isbnBook" class="form-control"></p>
        <p class="lead"><strong>Author's Name: </strong><input type="text" placeholder="Author's Name" name="authorName" class="form-control"></p>
        <input type="submit" value="Submit" class="submit btn btn-primary">
    </form>
</div>

<%- include("partials/footer") %> 