<%- include("partials/header") %>

<div>
    <h2>Enter the detail of book that you want to add:</h2>
    <form action="" method="post">
        <p>Name of the book: <input type="text" placeholder="Book Name" name="bookName"></p>
        <p>ISBN: <input type="text" placeholder="ISBN" name="isbnBook"></p>
        <p>Author's Name: <input type="text" placeholder="Author's Name" name="authorName"></p>
        <input type="submit" value="Submit">
    </form>
</div>

<%- include("partials/footer") %> 