<%- include("partials/header") %>


<%- include("partials/bar") %>


<%- include("partials/filter") %> 

<button style="margin: 20px 45%;" class="btn btn-primary"><a href="add" style="text-decoration: none; color:inherit;">Add Book</a></button>

<%- include("partials/footer") %> 