<%- include("partials/header") %>


<form action="/books" method="post">
    <input type="search" placeholder="Enter ISBN number" name="searchISBN">
    <button type="submit">Search</button>
</form>



<%- include("partials/footer") %> 