<%- include("partials/header") %>


<%- include("partials/bar") %>


<%- include("partials/filter") %> 

<a href="add"><button style="margin: 20px 45%;">Add Book</button></a>

<%- include("partials/footer") %> 