<%- include("partials/header") %>


<%- include("partials/bar") %>


<%- include("partials/filter") %> 

<a href="add" style="text-decoration: none; color:inherit;"><button style="margin: 20px 45%;" class="btn btn-primary">Add Book</button></a>

<%- include("partials/footer") %> 