*{
    margin: 0 auto;
    padding: 0;
}

h1{
    margin: 20px 35%;
}

.search{
    margin: 20px 38%;
}

/* styling the table */
table,th,td{
    border: 1px solid;
    border-collapse: collapse;
}

table{
    width: 50%;
}

.sn{
    width: 5%;
}