*{
    margin: 0 auto;
    padding: 0;
}

h1{
    margin: 20px 35%;
}

h2,h3{
    margin: 20px 23%;
}

.search{
    margin: 20px 38%;
    display: flex;
}
.add{
    margin: 20px 35%;
}
.addBook{
    margin: 20px 45%;
}
p{
    margin: 10px;
}
.submit{
    margin: 10px;
}
/* styling the table */
table,th,td{
    border: 1px solid;
    border-collapse: collapse;
}

table{
    width: 50%;
}

.sn{
    width: 5%;
}